-r requirements.txt
azure-ai-documentintelligence==1.0.2
Markdown==3.8.2
requests==2.32.4
tqdm==4.67.1
tiktoken
langchain==0.3.26
bs4==0.0.2
urllib3==2.5.0
pytest==8.4.1
pytest-asyncio==1.0.0
PyMuPDF==1.26.1
azure-storage-blob
chardet
azure-keyvault-secrets
coverage
flake8==7.3.0
black==25.1.0
autoflake==2.3.1
isort==6.0.1